
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}

#test{
    width: 150px;
    height: 150px;
    background-color: cadetblue;
    position: relative;
}
/*
.form-group > label, 
.form-group > input, 
.form-group > button {
    margin-right: 10px;
}
*/